[submodule "firmware/lib/winterbloom_smolmidi"]
	path = firmware/lib/winterbloom_smolmidi
	url = https://github.com/theacodes/Winterbloom_SmolMIDI
[submodule "firmware/lib/winterbloom_voltageio"]
	path = firmware/lib/winterbloom_voltageio
	url = https://github.com/theacodes/Winterbloom_VoltageIO
[submodule "firmware/lib/winterbloom_ad5689"]
	path = firmware/lib/winterbloom_ad_dacs
	url = https://github.com/theacodes/Winterbloom_AD5689
[submodule "firmware/lib/adafruit_circuitpython_busdevice"]
	path = firmware/lib/adafruit_circuitpython_busdevice
	url = https://github.com/Adafruit/Adafruit_CircuitPython_BusDevice
