<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if config.site_description %}<meta name="description" content="{{ config.site_description }}">{% endif %}
		{% if config.site_author %}<meta name="author" content="{{ config.site_author }}">{% endif %}
		<link rel="shortcut icon" href="/favicon.ico">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/style.css" rel="stylesheet">

    <!-- Syntax highlighting css -->
		<link href="/pygments.css" rel="stylesheet">
		
    {%- for path in config['extra_css'] %}
    <link href="{{ path|url }}" rel="stylesheet">
		{%- endfor %}

  </head>
  <body>
    <div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="/">
					<img src="/winterbloom-logo.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
				</a>
				{% if nav|length>1 %}
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						{% for nav_item in nav %}
							<a class="nav-link" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</nav>

			<article>
				{{ page.content }}
			</article>

			<footer>
				<p class="copyright">
					{{ config.copyright }}
				</p>
				<p class="edit-me">
					Found an issue? <a href="mailto:support@winterbloom.com">Send us a message</a> or <a href="{{page.edit_url}}">Edit this page on GitHub</a>.
				</p>
				<p class="updated">
					Last updated on {{build_date_utc.strftime('%B %d, %Y')}}
				</p>
			</footer>
		</div>
	</body>
	
	<script type="text/javascript" src="/script.js"></script>
</html>
